Ejercicio04A/Ejercicio04A/SOA/Schemas/input.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bwr.mx" targetNamespace="http://www.bwr.mx"
            elementFormDefault="qualified">
  <xsd:element name="input">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="rfc" type="xsd:string"/>
        <xsd:element name="fecha" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
